@model Model.Command

<div>
    <h4>Command</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product.nameprod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.nameprod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datecmd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datecmd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateliv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateliv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qteprod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qteprod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isComfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isComfirmed)
        </dd>

    </dl>
</div>


